services:
  backend:
    build: ./backend
    ports:
      - "5000:5000" # <porta_host>:<porta_container>
    env_file:
     - ./backend/.env

  frontend:
    build: ./frontend
    ports:
      - "3000:3000" # <porta_host>:<porta_container>
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:5000
    depends_on:
      - backend
