
/* main container */
.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.header {
  height: 60px;
  background-color: #5fa4b9;
  display: flex;
  justify-content: space-between; /* spaziatura nel menu, TODO */
  align-items: center;
  padding: 0 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 10;
}

/* sidebar + body */
.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #3d3f66;/*#202132;/*#1e5d70;/*#2a4174;*/
  color: white;
  text-align: center;
  padding: 16px;
  /*overflow-y: auto;*/
  overflow: hidden;
  transition: width 0.3s ease; /* animazion */
}

.sidebar.closed {
  width: 0;
  padding: 0;
}

/* main content */
.content {
  flex: 1;
  background-color: #f7fafc;
  padding: 24px;
  overflow-y: auto;
}

.sidebar a {
  display: block; /*for newline*/
  flex: 1;
  text-decoration: none;
  outline-color: transparent;
  line-height: 3;
  color: black;
  border-radius: 8px;
  margin-bottom: 8px;
}

.sidebar a:link,
.sidebar a:visited,
.sidebar a:focus {
  background: palegoldenrod;
  color: black;
}

.sidebar a:hover {
  background: orange;
}

.sidebar a:active {
  background: darkred;
  color: white;
}

/* specify for home link */
.sidebar a.linkhome {
  background: #24d07a;
  color: black;
}

.sidebar a.linkhome:hover {
  background: #1eb56a;
  color: black;
}

.sidebar a.linkhome:active {
  background: darkgreen;
  color: white;
}

.contentPage {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;                              /* internal distance text-box */
  margin-bottom: 15px;                        /* distance between boxs */
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  background-color: #fff;                   /* box color */
}

/* set the text selection color */
.contentPage ::selection {
  background-color: #3d3f66;
  color: #fff;
}